@media (prefers-color-scheme: dark) {
  * :not(.votearrow, input, textarea) {
    color: #f2f2f2 !important;
    background:  #1a1a1a !important;
  }
}

.app {
  display: flex;
  flex-direction: column;
  margin: auto;
}
